body{
  display: grid;
  place-items: center;
  background-color: var(--primary-blue);
}

form{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em 1.5em;
  width: 100%;
  max-width: 500px;
  background-color: var(--dull-white);
  /* box-shadow: 5px 5px 10px var(--light-grey); */
  border: 1px solid var(--light-grey);
  border-radius: .5em;
}



/* i set the positon and the zindex here so that my error 
text can be able to hide under it and slide down when theres error */
.email-input-container{
  width: 100%;
  background-color: var(--dull-white);
  position: static;
  z-index: 2;
}

form input{
  width: 100%;
  padding: .6em 1.3em;
  margin: 1em 0;
  border: 1px solid var(--dark-grey);
  border-radius: .5rem;
  transition: all 250ms ease-in;
}

form input:focus{
  border: 1px solid  var(--primary-blue);
}
#email-error{
  align-self: flex-start;
  padding-left: 1em;
  position: static;
   z-index: 1; 
   transition: all;
}
.hidden{
  transform: translateY(-100%);
}

.show-error{
  transform: translateY(0);
  color: red;
  font-weight: 700;
}


