body{
display: flex;
flex-direction: column;
}
main{
   display: flex;
   justify-content: center;
   align-items: center;
  flex: 1;  /* takes the entire space push footer and other section to the down for wider screens responsive ness  */
}

.question-card-container{
  border: 1px solid var(--light-grey);
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 650px;
  padding: 1em 1.5em;

}

.question-card-container >*{
  margin: .2em 0;
}

.options-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1em;
  margin: 1em 0;
}

/* each option */
.options-container>*{
  background-color: var(--dull-white);
  padding: .5em 1em;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.options-container> *:hover{
  transform: scale(1.05);
}

/* ==== js classlist === */
.selected{
  background-color: black;
  color: white;
}